/***reset***/
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font: 16px/1.5 "微软雅黑", "sans-serif";
}

/**/
.header {
    height: 5rem;
    line-height: 5rem;
    background-color: rgb(0, 0, 255);
    text-align: center;
    margin-bottom: 0.5rem;
}

.header-text {
    vertical-align: middle;
    font-weight: bold;
    font-size: 2rem;
}

.layout {
    height: calc(100vh - 5.5rem);
}

.layout-left {
    float: left;
    height: 100%;
    width: 20%;
    min-width: 20rem;
    background-color: #336699;
    margin-right: 0.5rem;
}

.layout-main {
    height: 100%;
    overflow: hidden;
    border: solid 2px;
    padding: 1rem
}

/*======menu=====*/
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    margin: 0;
    padding: 0;

}

.menu-item > a {
    display: block;
    line-height: 3rem;
    padding-left: 2rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu-item.active > a {
    background-color: blue;
    color: #fff;
}

.menu-item > a:hover {
    background-color: blue;
    color: #fff;
}